<h1>Listing voxels</h1>

<table id="voxels-table">
  <tr>
    <th>Map</th>
    <th>Type</th>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Voxel</a>